In [1]:
import pandas as pd
import numpy as np

In [2]:
ATB_df = pd.read_excel(
    r"C:\Users\SAURABH SINGH\Desktop\SAURABH\Data Scientist\Projects\Projects\Python\ATB project\Aged Trial Balance.xlsx",
    header=1  # keep/remove depending on your file
)

In [3]:
ATB_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 42 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Patient Number               193 non-null    int64
 1   Patient Last Name            193 non-null    object
 2   Patient First Name           193 non-null    object
 3   P MI                         163 non-null    object
 4   Pat Suffix                   0 non-null      float64
 5   Account Type                 193 non-null    object
 6   Service Date                 193 non-null    datetime64[ns]
 7   Billing Date                 150 non-null    datetime64[ns]
 8   Orig Billing Date            192 non-null    datetime64[ns]
 9   Follow Up Date               61 non-null     datetime64[ns]
 10  Voucher Num                  193 non-null    int64
 11  Claim Number                 193 non-null    int64
 12  Department                   193 non-null    object
 13  Place Of Service             193 non-null    object
 14  Billing Provider Last Name   193 non-null    object
 15  Billing Provider First Name  193 non-null    object
 16  Bill Prv Suffix              193 non-null    object
 17  Provider Last Name           193 non-null    object
 18  Provider First Name          193 non-null    object
 19  Prv Suffix                   193 non-null    object
 20  Original Carrier             193 non-null    object
 21  Original Carrier Name        193 non-null    object
 22  Orig Ins Cat                 193 non-null    object
 23  Current Carrier              193 non-null    object
 24  Current Carrier Name         193 non-null    object
 25  Cur Ins Cat                  193 non-null    object
 26  Fees                         193 non-null    float64
 27  Payments                     193 non-null    float64
 28  Adjustments                  193 non-null    float64
 29  Refunds                      193 non-null    int64
 30  Age Bucket                   193 non-null    int64
 31  0 to 30                      193 non-null    float64
 32  31 to 60                     193 non-null    float64
 33  61 to 90                     193 non-null    float64
 34  over 90                      193 non-null    int64
 35  Balance                      193 non-null    float64
 36  Note Type                    104 non-null    object
 37  Note Subject                 104 non-null    object
 38  Note Text                    104 non-null    object
 39  Last Edited By               104 non-null    object
 40  Last Edited                  104 non-null    datetime64[ns]
 41  Days Since Last Edit         104 non-null    float64
dtypes: datetime64[ns](5), float64(9), int64(6), object(22)
memory usage: 63.5+ KB

In [6]:
ATB_df.columns = (
    ATB_df.columns
    .str.strip()
    .str.lower()
    .str.replace(' ','_')
    .str.replace('-','_')
)

In [7]:
ATB_df.info()
ATB_df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 42 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   patient_number               193 non-null    int64
 1   patient_last_name            193 non-null    object
 2   patient_first_name           193 non-null    object
 3   p_mi                         163 non-null    object
 4   pat_suffix                   0 non-null      float64
 5   account_type                 193 non-null    object
 6   service_date                 193 non-null    datetime64[ns]
 7   billing_date                 150 non-null    datetime64[ns]
 8   orig_billing_date            192 non-null    datetime64[ns]
 9   follow_up_date               61 non-null     datetime64[ns]
 10  voucher_num                  193 non-null    int64
 11  claim_number                 193 non-null    int64
 12  department                   193 non-null    object
 13  place_of_service             193 non-null    object
 14  billing_provider_last_name   193 non-null    object
 15  billing_provider_first_name  193 non-null    object
 16  bill_prv_suffix              193 non-null    object
 17  provider_last_name           193 non-null    object
 18  provider_first_name          193 non-null    object
 19  prv_suffix                   193 non-null    object
 20  original_carrier             193 non-null    object
 21  original_carrier_name        193 non-null    object
 22  orig_ins_cat                 193 non-null    object
 23  current_carrier              193 non-null    object
 24  current_carrier_name         193 non-null    object
 25  cur_ins_cat                  193 non-null    object
 26  fees                         193 non-null    float64
 27  payments                     193 non-null    float64
 28  adjustments                  193 non-null    float64
 29  refunds                      193 non-null    int64
 30  age_bucket                   193 non-null    int64
 31  0_to_30                      193 non-null    float64
 32  31_to_60                     193 non-null    float64
 33  61_to_90                     193 non-null    float64
 34  over_90                      193 non-null    int64
 35  balance                      193 non-null    float64
 36  note_type                    104 non-null    object
 37  note_subject                 104 non-null    object
 38  note_text                    104 non-null    object
 39  last_edited_by               104 non-null    object
 40  last_edited                  104 non-null    datetime64[ns]
 41  days_since_last_edit         104 non-null    float64
dtypes: datetime64[ns](5), float64(9), int64(6), object(22)
memory usage: 63.5+ KB
The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

,patient_number,patient_last_name,patient_first_name,p_mi,pat_suffix,account_type,service_date,billing_date,orig_billing_date,follow_up_date,...,31_to_60,61_to_90,over_90,balance,note_type,note_subject,note_text,last_edited_by,last_edited,days_since_last_edit
0,4050,Alch,Aunika,M,NaN,STANDARD,2023-11-28,2023-12-12,2023-11-30,2023-12-06,...,0.0,0.0,0,391.00,Trans to PT Due to Ins Req from Resp,Claim# 50000533,"DOS - 11/28/2023, Working on PayerPath rejecti...",ssharma,2023-12-06 09:16:12.760,14.0
1,4840,Andary,Ashley,M,NaN,STANDARD,2023-09-15,2023-12-12,2023-10-05,NaT,...,0.0,0.0,0,170.50,Deductible Coshare or Copay transferred,Claim# 120,Dos 09/15/2023 working on Ar claim payer BCBS ...,kacharya,2023-12-12 10:02:10.557,8.0
2,4850,Andrews,Kassie,D,NaN,STANDARD,2023-12-13,2023-12-13,2023-12-13,NaT,...,0.0,0.0,0,269.00,NaN,NaN,NaN,NaN,NaT,NaN
3,4850,Andrews,Kassie,D,NaN,STANDARD,2023-11-15,2023-12-05,2023-11-16,NaT,...,0.0,0.0,0,64.83,NaN,NaN,NaN,NaN,NaT,NaN
4,7020,Armstrong,Nikole,E,NaN,STANDARD,2023-10-26,2023-11-10,2023-11-10,2023-12-28,...,552.0,0.0,0,552.00,Check Issued per Carrier,Claim# 50000439,Dos 10/26/2023 working on Ar claim payer BCBS ...,kacharya,2023-12-14 10:57:53.463,6.0

In [8]:
date_cols = [
    'service_date',
    'billing_date',
    'orig_billing_date',
    'follow_up_date',
    'last_edited'
]

# Step 1: Convert to datetime
for col in date_cols:
    ATB_df[col] = pd.to_datetime(ATB_df[col], errors='coerce')

# Step 2: Format as MM-DD-YYYY
for col in date_cols:
    ATB_df[col] = ATB_df[col].dt.strftime('%m-%d-%Y')

In [9]:
ATB_df.head(10)

,patient_number,patient_last_name,patient_first_name,p_mi,pat_suffix,account_type,service_date,billing_date,orig_billing_date,follow_up_date,...,31_to_60,61_to_90,over_90,balance,note_type,note_subject,note_text,last_edited_by,last_edited,days_since_last_edit
0,4050,Alch,Aunika,M,NaN,STANDARD,11-28-2023,12-12-2023,11-30-2023,12-06-2023,...,0.0,0.0,0,391.00,Trans to PT Due to Ins Req from Resp,Claim# 50000533,"DOS - 11/28/2023, Working on PayerPath rejecti...",ssharma,12-06-2023,14.0
1,4840,Andary,Ashley,M,NaN,STANDARD,09-15-2023,12-12-2023,10-05-2023,NaN,...,0.0,0.0,0,170.50,Deductible Coshare or Copay transferred,Claim# 120,Dos 09/15/2023 working on Ar claim payer BCBS ...,kacharya,12-12-2023,8.0
2,4850,Andrews,Kassie,D,NaN,STANDARD,12-13-2023,12-13-2023,12-13-2023,NaN,...,0.0,0.0,0,269.00,NaN,NaN,NaN,NaN,NaN,NaN
3,4850,Andrews,Kassie,D,NaN,STANDARD,11-15-2023,12-05-2023,11-16-2023,NaN,...,0.0,0.0,0,64.83,NaN,NaN,NaN,NaN,NaN,NaN
4,7020,Armstrong,Nikole,E,NaN,STANDARD,10-26-2023,11-10-2023,11-10-2023,12-28-2023,...,552.0,0.0,0,552.00,Check Issued per Carrier,Claim# 50000439,Dos 10/26/2023 working on Ar claim payer BCBS ...,kacharya,12-14-2023,6.0
5,6820,Baldwin,Mary,N,NaN,STANDARD,09-21-2023,NaN,09-23-2023,NaN,...,0.0,0.0,0,3.00,Voucher Note,Voucher# 290,# True Selfpay - Medicaid paid the claim and b...,ravindrag,10-12-2023,69.0
6,6820,Baldwin,Mary,N,NaN,STANDARD,10-20-2023,NaN,10-24-2023,12-13-2023,...,0.0,0.0,0,3.00,Check Issued per Carrier,Claim# 50000422,AR : DOS 10/20/2023 Per review claim was bille...,ravindrag,11-28-2023,22.0
7,1310,Barnhart,Tracey,M,NaN,STANDARD,12-06-2023,12-07-2023,12-07-2023,NaN,...,0.0,0.0,0,221.79,NaN,NaN,NaN,NaN,NaN,NaN
8,1310,Barnhart,Tracey,M,NaN,STANDARD,10-13-2023,NaN,10-16-2023,12-13-2023,...,0.0,0.0,0,47.21,Check Issued per Carrier,Claim# 50000400,AR : DOS 10/13/2023 Per review Claim was bill...,ravindrag,11-28-2023,22.0
9,4940,Beck,Nicole,E,NaN,STANDARD,11-28-2023,12-18-2023,12-18-2023,NaN,...,0.0,0.0,0,148.00,Corrected Insurance Info and Rebilled,Claim# 50000525,Dos 11/28/2023 working on Denied claim payer B...,kacharya,12-12-2023,8.0

In [10]:
ATB_df.columns.tolist()

['patient_number',
 'patient_last_name',
 'patient_first_name',
 'p_mi',
 'pat_suffix',
 'account_type',
 'service_date',
 'billing_date',
 'orig_billing_date',
 'follow_up_date',
 'voucher_num',
 'claim_number',
 'department',
 'place_of_service',
 'billing_provider_last_name',
 'billing_provider_first_name',
 'bill_prv_suffix',
 'provider_last_name',
 'provider_first_name',
 'prv_suffix',
 'original_carrier',
 'original_carrier_name',
 'orig_ins_cat',
 'current_carrier',
 'current_carrier_name',
 'cur_ins_cat',
 'fees',
 'payments',
 'adjustments',
 'refunds',
 'age_bucket',
 '0_to_30',
 '31_to_60',
 '61_to_90',
 'over_90',
 'balance',
 'note_type',
 'note_subject',
 'note_text',
 'last_edited_by',
 'last_edited',
 'days_since_last_edit']

In [11]:
date_cols = [
    'service_date',
    'billing_date',
    'orig_billing_date',
    'follow_up_date',
    'last_edited'
]

for col in date_cols:
    ATB_df[col] = pd.to_datetime(ATB_df[col], errors='coerce')


today = pd.Timestamp.today()

ATB_df['days_since_billing'] = (today - ATB_df['billing_date']).dt.days

bins = [0, 30, 60, 90, 120, np.inf]
labels = ['0-30', '31-60', '61-90', '91-120', '120+']
ATB_df['aging_bucket'] = pd.cut(ATB_df['days_since_billing'], bins=bins, labels=labels, right=True)

In [80]:
ATB_df.head()

,patient_number,patient_last_name,patient_first_name,p_mi,pat_suffix,account_type,service_date,billing_date,orig_billing_date,follow_up_date,...,over_90,balance,note_type,note_subject,note_text,last_edited_by,last_edited,days_since_last_edit,days_since_billing,aging_bucket
0,4050,Alch,Aunika,M,NaN,STANDARD,2023-11-28,2023-12-12,2023-11-30,2023-12-06,...,0,391.00,Trans to PT Due to Ins Req from Resp,Claim# 50000533,"DOS - 11/28/2023, Working on PayerPath rejecti...",ssharma,2023-12-06,14.0,713.0,120+
1,4840,Andary,Ashley,M,NaN,STANDARD,2023-09-15,2023-12-12,2023-10-05,NaT,...,0,170.50,Deductible Coshare or Copay transferred,Claim# 120,Dos 09/15/2023 working on Ar claim payer BCBS ...,kacharya,2023-12-12,8.0,713.0,120+
2,4850,Andrews,Kassie,D,NaN,STANDARD,2023-12-13,2023-12-13,2023-12-13,NaT,...,0,269.00,NaN,NaN,NaN,NaN,NaT,NaN,712.0,120+
3,4850,Andrews,Kassie,D,NaN,STANDARD,2023-11-15,2023-12-05,2023-11-16,NaT,...,0,64.83,NaN,NaN,NaN,NaN,NaT,NaN,720.0,120+
4,7020,Armstrong,Nikole,E,NaN,STANDARD,2023-10-26,2023-11-10,2023-11-10,2023-12-28,...,0,552.00,Check Issued per Carrier,Claim# 50000439,Dos 10/26/2023 working on Ar claim payer BCBS ...,kacharya,2023-12-14,6.0,745.0,120+

In [84]:
ATB_df.sort_values('days_since_billing', ascending=False).head(10)

,patient_number,patient_last_name,patient_first_name,p_mi,pat_suffix,account_type,service_date,billing_date,orig_billing_date,follow_up_date,...,over_90,balance,note_type,note_subject,note_text,last_edited_by,last_edited,days_since_last_edit,days_since_billing,aging_bucket
107,3730,Musso,Amber,D,NaN,STANDARD,2023-09-21,2023-09-25,2023-09-23,2023-10-24,...,0,391.00,Insurance Claim in Review or Reprocess,Claim# 270,Correspondence Batch #63942 page 6 DOS 9/21/20...,ravindrag,2023-10-11,70.0,791.0,120+
166,3180,Trickey,Monica,M,NaN,STANDARD,2023-09-27,2023-09-28,2023-09-28,NaT,...,0,3.00,Voucher Note,Voucher# 50000303,#True Selfpay - Medicaid AL paid the claim and...,ravindrag,2023-10-24,57.0,788.0,120+
31,3840,Clay,Lacheria,L,NaN,STANDARD,2023-09-26,2023-10-03,2023-10-03,NaT,...,0,366.00,NaN,NaN,NaN,NaN,NaT,NaN,783.0,120+
126,2110,Rasmussen,Jordan,U,NaN,STANDARD,2023-09-20,2023-10-03,2023-09-21,NaT,...,0,86.63,NaN,NaN,NaN,NaN,NaT,NaN,783.0,120+
41,4000,Cullity,Amanda,L,NaN,STANDARD,2023-10-03,2023-10-04,2023-10-04,NaT,...,0,269.00,NaN,NaN,NaN,NaN,NaT,NaN,782.0,120+
64,420,Higgins,Robyn,A,NaN,STANDARD,2023-10-06,2023-10-09,2023-10-09,2023-11-17,...,0,3.00,Courtesy Secondary Rebill,Claim# 50000352,AR : DOS 10/06/2023 Per review claim was bille...,ravindrag,2023-11-17,33.0,777.0,120+
10,3960,Bergey,Sarah,A,NaN,STANDARD,2023-09-27,2023-10-12,2023-10-12,2023-12-26,...,0,596.00,Insurance Claim in Review or Reprocess,Claim# 50000305,Dos 09/27/2023 working on Ar claim payer breas...,kacharya,2023-12-19,1.0,774.0,120+
30,280,Carter,Shaneka,E,NaN,STANDARD,2023-10-13,2023-10-16,2023-10-16,2023-12-13,...,0,25.00,Courtesy Secondary Rebill,Claim# 50000401,AR : DOS 10/13/2023 Per review claim was bille...,ravindrag,2023-12-06,14.0,770.0,120+
108,3730,Musso,Amber,D,NaN,STANDARD,2023-10-18,2023-10-19,2023-10-19,NaT,...,0,391.00,NaN,NaN,NaN,NaN,NaT,NaN,767.0,120+
84,6950,Levasa,Toeupuosamua,P,NaN,STANDARD,2023-10-20,2023-10-24,2023-10-24,2023-12-06,...,0,3.00,Courtesy Secondary Rebill,Claim# 50000424,AR : DOS 10/13/2023 Per review claim was bille...,ravindrag,2023-12-06,14.0,762.0,120+

In [86]:
ATB_df[ATB_df['days_since_billing'] > 90].groupby('current_carrier_name')['balance'].sum()

current_carrier_name
Aetna Insurance Company                    4597.25
Blue Cross Blue Shield Georgia             1628.00
Blue Cross Washington and Alaska          10766.00
Breast and Cervical Cancer Control Prg     3200.00
Breckpoint Inc                              987.00
CHAMPVA                                    1564.00
Employee Benefit Management Services        269.00
InterWest: Meritain Health                  269.00
Medicaid Alaska                           18224.91
Meritain Health                            1078.00
Self-Pay                                   4937.52
UnitedHealthcare Group Medic                 55.00
UnitedHealthcare Shared Services            946.78
Name: balance, dtype: float64

In [109]:
ATB_df[date_cols].dtypes

service_date         datetime64[ns]
billing_date         datetime64[ns]
orig_billing_date    datetime64[ns]
follow_up_date       datetime64[ns]
last_edited          datetime64[ns]
dtype: object

In [108]:
ATB_df['days_since_billing'].head(10)

0    713.0
1    713.0
2    712.0
3    720.0
4    745.0
5      NaN
6      NaN
7    718.0
8      NaN
9    707.0
Name: days_since_billing, dtype: float64

In [110]:
aging_summary = ATB_df.groupby('aging_bucket')['balance'].sum()
aging_summary

aging_bucket
0-30          0.00
31-60         0.00
61-90         0.00
91-120        0.00
120+      48522.46
Name: balance, dtype: float64

In [14]:
ATB_df['days_since_billing'].describe()

count    150.000000
mean     730.746667
std       20.913111
min      706.000000
25%      713.250000
50%      722.500000
75%      746.750000
max      791.000000
Name: days_since_billing, dtype: float64

In [15]:
num_cols = ['fees', 'payments', 'adjustments', 'refunds', 'balance']

for col in num_cols:
    ATB_df[col] = pd.to_numeric(ATB_df[col], errors='coerce').fillna(0)

In [16]:
ATB_df.head()

,patient_number,patient_last_name,patient_first_name,p_mi,pat_suffix,account_type,service_date,billing_date,orig_billing_date,follow_up_date,...,over_90,balance,note_type,note_subject,note_text,last_edited_by,last_edited,days_since_last_edit,days_since_billing,aging_bucket
0,4050,Alch,Aunika,M,NaN,STANDARD,2023-11-28,2023-12-12,2023-11-30,2023-12-06,...,0,391.00,Trans to PT Due to Ins Req from Resp,Claim# 50000533,"DOS - 11/28/2023, Working on PayerPath rejecti...",ssharma,2023-12-06,14.0,713.0,120+
1,4840,Andary,Ashley,M,NaN,STANDARD,2023-09-15,2023-12-12,2023-10-05,NaT,...,0,170.50,Deductible Coshare or Copay transferred,Claim# 120,Dos 09/15/2023 working on Ar claim payer BCBS ...,kacharya,2023-12-12,8.0,713.0,120+
2,4850,Andrews,Kassie,D,NaN,STANDARD,2023-12-13,2023-12-13,2023-12-13,NaT,...,0,269.00,NaN,NaN,NaN,NaN,NaT,NaN,712.0,120+
3,4850,Andrews,Kassie,D,NaN,STANDARD,2023-11-15,2023-12-05,2023-11-16,NaT,...,0,64.83,NaN,NaN,NaN,NaN,NaT,NaN,720.0,120+
4,7020,Armstrong,Nikole,E,NaN,STANDARD,2023-10-26,2023-11-10,2023-11-10,2023-12-28,...,0,552.00,Check Issued per Carrier,Claim# 50000439,Dos 10/26/2023 working on Ar claim payer BCBS ...,kacharya,2023-12-14,6.0,745.0,120+

In [25]:
ATB_df[['fees', 'payments', 'adjustments', 'balance']].describe()

             fees    payments  adjustments     balance
count  193.000000  193.000000   193.000000  193.000000
mean   394.268290   70.892332    65.474352  257.901606
std    128.594179   95.478546    98.468222  215.943052
min     50.000000    0.000000     0.000000  -83.880000
25%    391.000000    0.000000     0.000000   25.000000
50%    391.000000    3.000000     0.000000  299.460000
75%    391.000000  176.670000   109.120000  391.000000
max    867.000000  330.310000   471.250000  867.000000

In [28]:
ATB_df['fees'].isna().sum()

0

In [29]:
ATB_df['fees'].unique()[:10]

array([391., 269., 577., 580., 148., 596., 867., 718., 211., 547.])

In [30]:
ATB_df[['fees', 'payments', 'adjustments', 'balance']].isna()

      fees  payments  adjustments  balance
0    False     False        False    False
1    False     False        False    False
2    False     False        False    False
3    False     False        False    False
4    False     False        False    False
..     ...       ...          ...      ...
188  False     False        False    False
189  False     False        False    False
190  False     False        False    False
191  False     False        False    False
192  False     False        False    False

[193 rows x 4 columns]

In [32]:
# AR by insurance
ATB_df.groupby('current_carrier_name')['balance'].sum().sort_values(ascending=False)

current_carrier_name
Medicaid Alaska                           18224.91
Blue Cross Washington and Alaska          11633.00
Self-Pay                                   5323.07
Aetna Insurance Company                    4597.25
Breast and Cervical Cancer Control Prg     3200.00
Blue Cross Blue Shield Georgia             1628.00
CHAMPVA                                    1564.00
Meritain Health                            1078.00
Breckpoint Inc                              987.00
UnitedHealthcare Shared Services            946.78
Employee Benefit Management Services        269.00
InterWest: Meritain Health                  269.00
UnitedHealthcare Group Medic                 55.00
Name: balance, dtype: float64

In [33]:

# AR by department
ATB_df.groupby('department')['balance'].sum()

department
All About You Womens Healthcare Center    49775.01
Name: balance, dtype: float64

In [34]:

# Top 10 highest balance accounts
ATB_df.sort_values('balance', ascending=False).head(10)

,patient_number,patient_last_name,patient_first_name,p_mi,pat_suffix,account_type,service_date,billing_date,orig_billing_date,follow_up_date,...,over_90,balance,note_type,note_subject,note_text,last_edited_by,last_edited,days_since_last_edit,days_since_billing,aging_bucket
106,3790,Mertz,Sarah,M,NaN,STANDARD,2023-10-26,2023-10-30,2023-10-30,NaT,...,0,867.0,NaN,NaN,NaN,NaN,NaT,NaN,756.0,120+
122,2340,Poston,Ariel,A,NaN,STANDARD,2023-11-28,2023-11-29,2023-11-29,NaT,...,0,867.0,NaN,NaN,NaN,NaN,NaT,NaN,726.0,120+
11,4950,Bertino,Cevana,N,NaN,STANDARD,2023-11-17,NaT,NaT,NaT,...,0,867.0,Corrected Insurance Info and Rebilled,Claim# 50000511,Dos 11/17/2023 working on Ar claim payer BCBS ...,kacharya,2023-12-19,1.0,NaN,NaN
53,6980,Gonzalez-Medina,Wendy,T,NaN,STANDARD,2023-11-01,2023-11-01,2023-11-01,NaT,...,0,782.0,NaN,NaN,NaN,NaN,NaT,NaN,754.0,120+
37,7100,Cruz,April,M,NaN,STANDARD,2023-12-07,2023-12-08,2023-12-08,NaT,...,0,779.0,NaN,NaN,NaN,NaN,NaT,NaN,717.0,120+
20,7090,Boyce,Katherine,M,NaN,STANDARD,2023-11-07,2023-12-14,2023-12-14,NaT,...,0,718.0,Corrected Insurance Info and Rebilled,Claim# 50000478,Dos 11/07/2023 working on Ar claim payer BCBS ...,kacharya,2023-12-14,6.0,711.0,120+
116,7030,Park,Sun Jeong,NaN,NaN,STANDARD,2023-11-01,2023-11-01,2023-11-01,2023-12-26,...,0,718.0,Insurance Claim in Review or Reprocess,Claim# 50000459,Dos 11/07/2023 working on Ar claim payer breas...,kacharya,2023-12-19,1.0,754.0,120+
115,7040,Park,Sohyun,NaN,NaN,STANDARD,2023-11-07,2023-11-07,2023-11-07,2023-12-26,...,0,657.0,Insurance Claim in Review or Reprocess,Claim# 50000475,Dos 11/07/2023 working on Ar claim payer breas...,kacharya,2023-12-19,1.0,748.0,120+
10,3960,Bergey,Sarah,A,NaN,STANDARD,2023-09-27,2023-10-12,2023-10-12,2023-12-26,...,0,596.0,Insurance Claim in Review or Reprocess,Claim# 50000305,Dos 09/27/2023 working on Ar claim payer breas...,kacharya,2023-12-19,1.0,774.0,120+
186,4780,Williams,Maritta,K,NaN,STANDARD,2023-10-24,2023-10-25,2023-10-25,2023-12-26,...,0,596.0,Insurance Claim in Review or Reprocess,Claim# 50000438,Dos 10/24/2023 working on Ar claim payer breas...,kacharya,2023-12-19,1.0,761.0,120+

In [36]:
"""
ATB (Aged Trial Balance) RCM Analysis Script
-------------------------------------------
- ETL: Load → Clean → Transform → Load
- KPIs: 10+ AR & RCM metrics
- Charts: 10 different visualizations

Requirements:
    pip install pandas numpy matplotlib openpyxl
"""

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path


# -----------------------------
# 1. CONFIG
# -----------------------------

# Input file path (change if needed)
INPUT_FILE = r"C:\Users\SAURABH SINGH\Desktop\SAURABH\Data Scientist\Projects\Projects\Python\ATB project\Aged Trial Balance.xlsx"

# Output folders
OUTPUT_DIR = Path("output")
PLOTS_DIR = OUTPUT_DIR / "plots"
OUTPUT_DIR.mkdir(exist_ok=True)
PLOTS_DIR.mkdir(parents=True, exist_ok=True)


# -----------------------------
# 2. LOAD & BASIC CLEANING  (EXTRACT + initial TRANSFORM)
# -----------------------------

def load_and_clean():
    """
    Load ATB Excel and do basic schema cleaning:
    - Read Excel
    - Standardize column names
    """
    # If your header row is the 2nd row in Excel, use header=1
    df = pd.read_excel(INPUT_FILE, header=1)

    # Standardize column names
    df.columns = (
        df.columns
        .str.strip()
        .str.lower()
        .str.replace(" ", "_")
        .str.replace("-", "_")
    )

    return df


# -----------------------------
# 3. DATA TYPE HANDLING (dates, numerics)
# -----------------------------

def transform_types(df: pd.DataFrame) -> pd.DataFrame:
    """
    - Convert date columns to datetime
    - Convert amount columns to numeric
    """
    # Date columns present in your file
    date_cols = [
        "service_date",
        "billing_date",
        "orig_billing_date",
        "follow_up_date",
        "last_edited",
    ]

    for col in date_cols:
        if col in df.columns:
            df[col] = pd.to_datetime(df[col], errors="coerce")

    # Numeric / money columns
    num_cols = ["fees", "payments", "adjustments", "refunds", "balance"]

    for col in num_cols:
        if col in df.columns:
            df[col] = pd.to_numeric(df[col], errors="coerce").fillna(0)

    return df


# -----------------------------
# 4. FEATURE ENGINEERING (days_since_billing, aging_bucket)
# -----------------------------

def add_aging_features(df: pd.DataFrame) -> pd.DataFrame:
    """
    - Compute days_since_billing
    - Compute aging_bucket
    """
    if "billing_date" not in df.columns:
        raise ValueError("Column 'billing_date' not found in dataframe.")

    today = pd.Timestamp.today()
    df["days_since_billing"] = (today - df["billing_date"]).dt.days

    # Aging bucket (0-30, 31-60, 61-90, 91-120, 120+)
    bins = [0, 30, 60, 90, 120, np.inf]
    labels = ["0-30", "31-60", "61-90", "91-120", "120+"]

    df["aging_bucket"] = pd.cut(
        df["days_since_billing"],
        bins=bins,
        labels=labels,
        right=True
    )

    return df


# -----------------------------
# 5. KPI CALCULATIONS
# -----------------------------

def compute_kpis(df: pd.DataFrame) -> dict:
    """
    Compute 10 key KPIs for AR / RCM.
    Returns a dictionary of KPI names → values.
    """

    kpis = {}

    # 1. Total AR balance
    total_ar = df["balance"].sum()
    kpis["Total AR Balance"] = total_ar

    # 2. Total Fees, Payments, Adjustments, Refunds
    kpis["Total Fees"] = df["fees"].sum()
    kpis["Total Payments"] = df["payments"].sum()
    kpis["Total Adjustments"] = df["adjustments"].sum()
    kpis["Total Refunds"] = df["refunds"].sum()

    # 3. Net collection ratio = payments / fees (if fees > 0)
    kpis["Net Collection Ratio"] = (
        kpis["Total Payments"] / kpis["Total Fees"]
        if kpis["Total Fees"] > 0 else np.nan
    )

    # 4. Average days in AR
    if "days_since_billing" in df.columns:
        kpis["Average Days in AR"] = df["days_since_billing"].mean()
    else:
        kpis["Average Days in AR"] = np.nan

    # 5. AR by aging bucket (120+ % share)
    aging_ar = df.groupby("aging_bucket")["balance"].sum()
    ar_120 = aging_ar.get("120+", 0)
    kpis["AR in 120+ Bucket"] = ar_120
    kpis["AR 120+ % of Total"] = (ar_120 / total_ar * 100) if total_ar > 0 else np.nan

    # 6. Top 1 insurance by AR
    if "current_carrier_name" in df.columns:
        ins_ar = (
            df.groupby("current_carrier_name")["balance"]
            .sum()
            .sort_values(ascending=False)
        )
        if not ins_ar.empty:
            kpis["Top Insurance by AR"] = ins_ar.index[0]
            kpis["Top Insurance AR Amount"] = ins_ar.iloc[0]

    # 7. Number of accounts with high balance (e.g., > 50,000)
    high_threshold = 50000
    kpis["Accounts > 50k Balance"] = (df["balance"] > high_threshold).sum()

    # 8. Count of unique patients
    if "patient_number" in df.columns:
        kpis["Unique Patients"] = df["patient_number"].nunique()

    # 9. Count of unique claims
    if "claim_number" in df.columns:
        kpis["Unique Claims"] = df["claim_number"].nunique()

    # 10. AR by department - number of departments
    if "department" in df.columns:
        dept_ar = df.groupby("department")["balance"].sum()
        kpis["Departments with AR"] = dept_ar.shape[0]

    return kpis


def print_kpis(kpis: dict):
    """Pretty print KPIs to console."""
    print("\n========== KPIs ==========\n")
    for name, value in kpis.items():
        print(f"{name}: {value:,.2f}" if isinstance(value, (int, float)) and not pd.isna(value) else f"{name}: {value}")
    print("\n==========================\n")


# -----------------------------
# 6. CHARTS (10 DIFFERENT VISUALS)
# -----------------------------

def plot_aging_bucket_bar(df: pd.DataFrame):
    """1) AR by aging bucket (bar chart)."""
    if "aging_bucket" not in df.columns:
        return
    summary = df.groupby("aging_bucket")["balance"].sum()
    plt.figure()
    summary.plot(kind="bar")
    plt.title("AR Balance by Aging Bucket")
    plt.xlabel("Aging Bucket (Days)")
    plt.ylabel("Balance")
    plt.tight_layout()
    plt.savefig(PLOTS_DIR / "01_ar_by_aging_bucket.png")
    plt.close()


def plot_insurance_bar(df: pd.DataFrame):
    """2) Top 10 insurances by AR."""
    if "current_carrier_name" not in df.columns:
        return
    summary = (
        df.groupby("current_carrier_name")["balance"]
        .sum()
        .sort_values(ascending=False)
        .head(10)
    )
    plt.figure()
    summary.plot(kind="bar")
    plt.title("Top 10 Insurances by AR Balance")
    plt.xlabel("Insurance")
    plt.ylabel("Balance")
    plt.xticks(rotation=45, ha="right")
    plt.tight_layout()
    plt.savefig(PLOTS_DIR / "02_top10_insurance_by_ar.png")
    plt.close()


def plot_department_bar(df: pd.DataFrame):
    """3) AR by department (top 10)."""
    if "department" not in df.columns:
        return
    summary = (
        df.groupby("department")["balance"]
        .sum()
        .sort_values(ascending=False)
        .head(10)
    )
    plt.figure()
    summary.plot(kind="bar")
    plt.title("Top 10 Departments by AR Balance")
    plt.xlabel("Department")
    plt.ylabel("Balance")
    plt.xticks(rotation=45, ha="right")
    plt.tight_layout()
    plt.savefig(PLOTS_DIR / "03_ar_by_department.png")
    plt.close()


def plot_provider_bar(df: pd.DataFrame):
    """4) AR by provider (top 10)."""
    if "billing_provider_last_name" not in df.columns:
        return

    provider_col = "billing_provider_last_name"
    if "billing_provider_first_name" in df.columns:
        df["billing_provider_full"] = (
            df["billing_provider_first_name"].fillna("") + " " +
            df["billing_provider_last_name"].fillna("")
        )
        provider_col = "billing_provider_full"

    summary = (
        df.groupby(provider_col)["balance"]
        .sum()
        .sort_values(ascending=False)
        .head(10)
    )

    plt.figure()
    summary.plot(kind="bar")
    plt.title("Top 10 Providers by AR Balance")
    plt.xlabel("Provider")
    plt.ylabel("Balance")
    plt.xticks(rotation=45, ha="right")
    plt.tight_layout()
    plt.savefig(PLOTS_DIR / "04_ar_by_provider.png")
    plt.close()


def plot_monthly_billing_trend(df: pd.DataFrame):
    """5) Monthly fees trend."""
    if "billing_date" not in df.columns:
        return

    temp = df.copy()
    temp["billing_month"] = temp["billing_date"].dt.to_period("M").dt.to_timestamp()
    summary = temp.groupby("billing_month")["fees"].sum()

    plt.figure()
    summary.plot(kind="line", marker="o")
    plt.title("Monthly Fees Trend")
    plt.xlabel("Month")
    plt.ylabel("Total Fees")
    plt.xticks(rotation=45, ha="right")
    plt.tight_layout()
    plt.savefig(PLOTS_DIR / "05_monthly_fees_trend.png")
    plt.close()


def plot_monthly_ar_trend(df: pd.DataFrame):
    """6) Monthly AR balance trend (based on billing_date)."""
    if "billing_date" not in df.columns:
        return

    temp = df.copy()
    temp["billing_month"] = temp["billing_date"].dt.to_period("M").dt.to_timestamp()
    summary = temp.groupby("billing_month")["balance"].sum()

    plt.figure()
    summary.plot(kind="line", marker="o")
    plt.title("Monthly AR Balance Trend")
    plt.xlabel("Month")
    plt.ylabel("Total Balance")
    plt.xticks(rotation=45, ha="right")
    plt.tight_layout()
    plt.savefig(PLOTS_DIR / "06_monthly_ar_trend.png")
    plt.close()


def plot_top_accounts_bar(df: pd.DataFrame):
    """7) Top 10 accounts by balance."""
    if "patient_number" not in df.columns:
        return

    summary = (
        df.groupby("patient_number")["balance"]
        .sum()
        .sort_values(ascending=False)
        .head(10)
    )

    plt.figure()
    summary.plot(kind="bar")
    plt.title("Top 10 Patient Accounts by AR Balance")
    plt.xlabel("Patient Number")
    plt.ylabel("Balance")
    plt.xticks(rotation=45, ha="right")
    plt.tight_layout()
    plt.savefig(PLOTS_DIR / "07_top10_accounts_by_balance.png")
    plt.close()


def plot_days_in_ar_hist(df: pd.DataFrame):
    """8) Distribution of days in AR (histogram)."""
    if "days_since_billing" not in df.columns:
        return

    plt.figure()
    df["days_since_billing"].dropna().plot(kind="hist", bins=30)
    plt.title("Distribution of Days in AR")
    plt.xlabel("Days Since Billing")
    plt.ylabel("Frequency")
    plt.tight_layout()
    plt.savefig(PLOTS_DIR / "08_days_in_ar_histogram.png")
    plt.close()


def plot_payments_adjustments_bar(df: pd.DataFrame):
    """9) Comparison of Fees, Payments, Adjustments, Refunds."""
    values = {
        "Fees": df["fees"].sum(),
        "Payments": df["payments"].sum(),
        "Adjustments": df["adjustments"].sum(),
        "Refunds": df["refunds"].sum(),
    }

    labels = list(values.keys())
    amounts = list(values.values())

    plt.figure()
    plt.bar(labels, amounts)
    plt.title("Fees vs Payments vs Adjustments vs Refunds")
    plt.ylabel("Amount")
    plt.tight_layout()
    plt.savefig(PLOTS_DIR / "09_fees_payments_adjustments_refunds.png")
    plt.close()


def plot_aging_bucket_pie(df: pd.DataFrame):
    """10) AR share by aging bucket (pie chart)."""
    if "aging_bucket" not in df.columns:
        return

    summary = df.groupby("aging_bucket")["balance"].sum()
    plt.figure()
    summary.plot(kind="pie", autopct="%1.1f%%")
    plt.title("AR Share by Aging Bucket")
    plt.ylabel("")
    plt.tight_layout()
    plt.savefig(PLOTS_DIR / "10_ar_share_by_aging_bucket.png")
    plt.close()


def generate_all_charts(df: pd.DataFrame):
    """Call all chart functions."""
    plot_aging_bucket_bar(df)
    plot_insurance_bar(df)
    plot_department_bar(df)
    plot_provider_bar(df)
    plot_monthly_billing_trend(df)
    plot_monthly_ar_trend(df)
    plot_top_accounts_bar(df)
    plot_days_in_ar_hist(df)
    plot_payments_adjustments_bar(df)
    plot_aging_bucket_pie(df)


# -----------------------------
# 7. MAIN PIPELINE (ETL + ANALYSIS)
# -----------------------------

def main():
    print("Loading and cleaning data...")
    df = load_and_clean()

    print("Transforming data types...")
    df = transform_types(df)

    print("Adding aging features...")
    df = add_aging_features(df)

    print("Computing KPIs...")
    kpis = compute_kpis(df)
    print_kpis(kpis)

    # Save cleaned + enriched data
    output_file = OUTPUT_DIR / "ATB_cleaned_with_aging.csv"
    df.to_csv(output_file, index=False)
    print(f"Cleaned data saved to: {output_file}")

    print("Generating charts...")
    generate_all_charts(df)
    print(f"Charts saved to: {PLOTS_DIR}")

    print("\nPipeline completed successfully.")


if __name__ == "__main__":
    main()

Loading and cleaning data...
Transforming data types...
Adding aging features...
Computing KPIs...

========== KPIs ==========

Total AR Balance: 49,775.01
Total Fees: 76,093.78
Total Payments: 13,682.22
Total Adjustments: 12,636.55
Total Refunds: 0
Net Collection Ratio: 0.18
Average Days in AR: 730.75
AR in 120+ Bucket: 48,522.46
AR 120+ % of Total: 97.48
Top Insurance by AR: Medicaid Alaska
Top Insurance AR Amount: 18,224.91
Accounts > 50k Balance: 0
Unique Patients: 110.00
Unique Claims: 191.00
Departments with AR: 1.00

==========================

Cleaned data saved to: output\ATB_cleaned_with_aging.csv
Generating charts...
Charts saved to: output\plots

Pipeline completed successfully.